{% extends "base.html" %} 

{% block content %} 
<main class="main main--content">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:steven.hastings0321@gmail.com" >
                    steven.hastings0321 [at] gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>GitHub:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/stevenhastings">
                    @stevenhastings
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>LinkedIn:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://www.linkedin.com/in/steven-hastings-datadays/">
                    StevenHastings@LinkedIn
                </a>
            </dd>
        </div>
    </dl>
</main>